<launch>
    <!-- <include file="$(find iiwa_gazebo)/launch/iiwa_gazebo.launch">
    </include> -->
     <!-- Select the robot name -->
    <arg name="robot_name" default="iiwa"/>
    <arg name="model" default="14" />
    <arg name="controller" default="TorqueController"/>


    <include file="$(find iiwa_driver)/launch/iiwa_bringup.launch">
        <arg name="robot_name" value="$(arg robot_name)"/>
        <arg name="model" value="$(arg model)"/>
        <arg name="controller" value="$(arg controller)" />
    </include>

    <group ns="/$(arg robot_name)">
        <node name="damping_tracking" pkg="iiwa_toolkit" type="damping_track" output="screen">
        </node>

        <rosparam file="$(find iiwa_toolkit)/config/passive_track_params.yaml" command="load"/>
    </group>

    <arg  name="ip_address"  default="128.178.145.248"/>
		<!-- <arg  name="ip_address"  default="128.178.145.89"/> -->
        <!-- <arg  name="ip_address"  default="192.168.0.50"/> -->
        <!-- <arg  name="ip_address"  default="192.168.0.2"/> -->
        <!-- <arg  name="ip_address"  default="192.168.1.1"/> -->
	<arg  name="bias"	 default="False"/>
	<arg  name="rate" 	 default="100"/>	
	<arg  name="frame_id"    default="myframe"/>
	<arg  name="alpha"	 default="0" />	
	<arg  name="rot"	 default="0"/>
	<arg  name="scale_x"	 default="1"/>
	<arg  name="scale_y"	 default="1"/>
	<arg  name="scale_z"	 default="1"/>


    <!-- <node name="plotter"
            pkg="rqt_plot"
            type="rqt_plot"
            args="/iiwa/plotvar/data[0] /iiwa/plotvar/data[1] /iiwa/plotvar/data[2]" >
    </node> -->
</launch>
