<?xml version="1.0"?>
<launch>
  <arg name="robot_name_1" default="iiwa"/>
  <arg name="iiwa_model_1" default="14"/>
  <arg name="controller" default="PositionController"/>
  <arg name="launch_rviz" default="true"/>
  <arg name="rviz_config" default="$(find ds_motion_generator)/config/rviz/iiwaWithPath.rviz"/>

  <include file="$(find iiwa_gazebo)/launch/iiwa_gazebo.launch">
    <arg name="robot_name_1" value="$(arg robot_name_1)"/>
    <arg name="iiwa_model_1" value="$(arg iiwa_model_1)"/>
    <arg name="controller" value="$(arg controller)"/>
  </include>

  <node name="spawn_box" pkg="gazebo_ros" type="spawn_model" args="-file $(find box_spawner)/models/box1.urdf -x 0.5 -y 0.0 -z 0.0 -urdf -model box1" />

  <group ns="/$(arg robot_name_1)">
    <!-- PositionController in Gazebo needs gazebo_ros_control PID gains -->
    <rosparam file="$(find iiwa_gazebo)/config/iiwa_control.yaml" command="load"/>
    <node name="pure_velocity_track_kinematic" pkg="iiwa_toolkit" type="pure_velocity_track_kinematic" output="screen"/>
    <rosparam file="$(find iiwa_toolkit)/config/pure_velocity_track_kinematic_params.yaml" command="load"/>
  </group>

  <!-- RViz (same stack as passive_track_gazebo.launch) -->
  <include file="$(find iiwa_description)/launch/display_iiwa.launch">
    <arg name="gui" value="false"/>
    <arg name="launch_rviz" value="false"/>
  </include>

  <node name="ply_pointcloud_publisher" pkg="ds_motion_generator" type="publish_pointcloud.py" output="screen">
    <param name="pointcloud_dir" value="$(find ds_motion_generator)/ply"/>
    <param name="topic" value="/pointcloud_ply"/>
    <param name="frame_id" value="world"/>
    <param name="rate" value="2.0"/>
    <param name="check_interval" value="2.0"/>
  </node>

  <node name="final_trajectory_path_publisher" pkg="ds_motion_generator" type="publish_final_trajectory_path.py" output="screen">
    <param name="trajectory_file" value="$(find ds_motion_generator)/trj/final_trajectory.txt"/>
    <param name="topic" value="/waypoint_path"/>
    <param name="frame_id" value="world"/>
    <param name="rate" value="2.0"/>
    <param name="reload_interval" value="2.0"/>
  </node>

  <node if="$(arg launch_rviz)" name="pure_velocity_ds_rviz" pkg="rviz" type="rviz" args="-d $(arg rviz_config)"/>
</launch>
