<launch>
    <!-- Real robot bringup -->
    <arg name="robot_name" default="iiwa"/>
    <arg name="model" default="14" />
    <!-- Kinematic controller outputs joint positions -->
    <arg name="controller" default="PositionController"/>
    <arg name="launch_rviz" default="true"/>
    <arg name="rviz_config" default="$(find ds_motion_generator)/config/rviz/iiwaWithPath.rviz"/>

    <include file="$(find iiwa_driver)/launch/iiwa_bringup.launch">
        <arg name="robot_name" value="$(arg robot_name)"/>
        <arg name="model" value="$(arg model)"/>
        <arg name="controller" value="$(arg controller)" />
    </include>

    <group ns="/$(arg robot_name)">
        <node name="pure_velocity_track_kinematic" pkg="iiwa_toolkit" type="pure_velocity_track_kinematic" output="screen"/>
        <rosparam file="$(find iiwa_toolkit)/config/pure_velocity_track_kinematic_params.yaml" command="load"/>
    </group>

    <!-- Optional FT sensor bringup (same style as passive_track_real.launch) -->
    <arg  name="ip_address"  default="128.178.145.248"/>
    <!-- <arg  name="ip_address"  default="128.178.145.89"/> -->
    <!-- <arg  name="ip_address"  default="192.168.0.50"/> -->
    <!-- <arg  name="ip_address"  default="192.168.0.2"/> -->
    <!-- <arg  name="ip_address"  default="192.168.1.1"/> -->
	<arg  name="bias"	 default="False"/>
	<arg  name="rate" 	 default="100"/>	
	<arg  name="frame_id"    default="myframe"/>
	<arg  name="alpha"	 default="0" />	
	<arg  name="rot"	 default="0"/>
	<arg  name="scale_x"	 default="1"/>
	<arg  name="scale_y"	 default="1"/>
	<arg  name="scale_z"	 default="1"/>

	<group ns="ft_sensor">
		<param name="frame_id" type="str" value="$(arg frame_id)"/>
		<node name="force_torque_sensor" pkg="netft_rdt_driver" type="netft_node" 
		    args="--address $(arg ip_address) --rate $(arg rate) --bias $(arg bias) --rot $(arg rot) --alpha $(arg alpha) --scale_x $(arg scale_x) --scale_y $(arg scale_y) --scale_z $(arg scale_z)" 
			 required="true" output="screen"/>
	</group>

    <!-- RViz (same stack as passive_track_real.launch) -->
    <include file="$(find iiwa_description)/launch/display_iiwa.launch">
        <arg name="gui" value="false"/>
        <arg name="launch_rviz" value="false"/>
    </include>

    <node name="ply_pointcloud_publisher" pkg="ds_motion_generator" type="publish_pointcloud.py" output="screen">
        <param name="pointcloud_dir" value="$(find ds_motion_generator)/ply"/>
        <param name="topic" value="/pointcloud_ply"/>
        <param name="frame_id" value="world"/>
        <param name="rate" value="2.0"/>
        <param name="check_interval" value="2.0"/>
    </node>

    <node name="final_trajectory_path_publisher" pkg="ds_motion_generator" type="publish_final_trajectory_path.py" output="screen">
        <param name="trajectory_file" value="$(find ds_motion_generator)/trj/final_trajectory.txt"/>
        <param name="topic" value="/waypoint_path"/>
        <param name="frame_id" value="world"/>
        <param name="rate" value="2.0"/>
        <param name="reload_interval" value="2.0"/>
    </node>

    <node if="$(arg launch_rviz)" name="pure_velocity_ds_rviz" pkg="rviz" type="rviz" args="-d $(arg rviz_config)"/>
</launch>
