<launch>
    <arg name="robot_name" default="iiwa"/>
    <arg name="model" default="14" />
    <arg name="controller" default="PositionController"/>

    <include file="$(find iiwa_driver)/launch/iiwa_bringup.launch">
        <arg name="robot_name" value="$(arg robot_name)"/>
        <arg name="model" value="$(arg model)"/>
        <arg name="controller" value="$(arg controller)" />
    </include>

    <group ns="/$(arg robot_name)">
        <node name="velocity_ik_tracking" pkg="iiwa_toolkit" type="velocity_ik_track" output="screen">
            <param name="velocity_ik/frequency" value="200.0"/>
            <param name="velocity_ik/orientation_gain" value="4.0"/>
            <param name="velocity_ik/dls_lambda" value="0.03"/>
            <param name="velocity_ik/max_joint_velocity" value="0.6"/>
            <param name="velocity_ik/publish_position_command" value="true"/>
        </node>
    </group>
</launch>

